*{
	margin: 0;
}
html, body{
	height: 100%;
}
.nav{
	list-style-type: none;
	padding-top: 10px;
	margin: 0;
	float: left;
	text-align: right;
	width: 100%;
	font-size: 13px;
	font-family: arial, sans-serif;
}

li{
	display: inline;
	padding: 7px;
}

a{
	text-decoration: none;
	color: rgb(64, 64, 64);
}
a:hover{
	text-decoration: underline;
	color: rgb(34, 34, 34);
}

#blocks{
	background-image: url(https://ssl.gstatic.com/gb/images/i1_71651352.png);
  	background-position: -326px -52px;
  	background-size: 356px 144px;
  	display: inline-block;
  	vertical-align: middle;
  	width: 30px;
  	height: 30px;
}

#bell{
    background-color: rgba(0, 0, 0, 1);
    background-image: url(https://ssl.gstatic.com/gb/images/i1_71651352.png);
    background-position: -214px -117px;
    background-size: 356px 144px;
  	display: inline-block;
  	vertical-align: middle;
  	width: 20px;
  	height: 20px;
	border-radius: 50%;
}

#plus{
	background-image: url(https://ssl.gstatic.com/gb/images/i1_71651352.png);
	background-position: -326px -17px;
	width: 30px;
	height: 30px;
	vertical-align: middle;
	display: inline-block;
}

#profile{
	background-image: url(https://lh4.googleusercontent.com/-D1o8vt5GBmo/AAAAAAAAAAI/AAAAAAAAAAA/0lmvzqO3KNY/s32-c/photo.jpg);
	background-size: 32px 32px;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: inline-block;
	vertical-align: middle;
}

.center{
	padding-top: 12em;
	padding-bottom: 1em;
	text-align: center;
}

img{
	height: 95px;
	width: 269px;
	padding: 10px;
}

input[type="search"] {
	width: 500px;
	height: 30px;
	padding: 5px;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.0980392);
	-webkit-appearance: none;
}
input[type="search"]:focus {
    outline: 1px solid;
    outline-color: #4d90fe;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type=submit]{
	background-color: rgb(245, 245, 245);
	margin-top: 15px;
	margin-right: 6px;
	margin-left: 6px;
	border: 1px solid;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 27px;
	font-size: 11px;
	font-family: arial, sans-serif;
	font-weight: bold;
	border-color: rgba(0, 0, 0, 0.0980392);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.wrapper {
	min-height: 100%;
	margin: 0 auto -40px;
}

footer {
	font-family: arial, sans-serif;
	font-size: 10pt;
	background-color: rgb(245, 245, 245);
	bottom: 0px;
	display: block;
	height: 40px;
	line-height: 40px;
	margin-left: 0;
	width: 100%;
	
	min-width: 500px;
}

.left a{
	float: left;
	padding-left: 30px;
	color: rgb(102, 102, 102);
	
}
.right a{
	float: right;
	padding-right: 30px;
	color: rgb(102, 102, 102);
}