.nav{
	list-style-type: none;
	padding: 0;
	margin: 0;
	float: left;
	text-align: right;
	width: 100%;
	font-size: 13px;
	font-family: arial, sans-serif;
}

li{
	display: inline;
	padding: 5px;
}

a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}

.blocks,#blocks{
	background-image: url(https://ssl.gstatic.com/gb/images/i2_9ef0f6fa.png);
  	background-position: -326px -54px;
  	background-size: 356px 144px;
  	display: inline-block;
  	vertical-align: middle;
  	width: 30px;
  	height: 30px;
  	line-height: normal;

}

.center{
	padding-top: 12em;
	padding-bottom: 1em;
	text-align: center;
}

input[type="search"] {
	width: 500px;
	height: 30px;
	padding: 5px;
	border: 1px solid;
	border-color: rgba(0, 0, 0, 0.0980392);
	-webkit-appearance: none;
}
input[type="search"]:focus {
    outline: 1px solid;
    outline-color: #4d90fe;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

input[type=submit]{
	background-color: rgb(245, 245, 245);
	margin-top: 15px;
	margin-right: 6px;
	margin-left: 6px;
	border: 1px solid;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 27px;
	font-size: 11px;
	font-family: arial, sans-serif;
	font-weight: bold;
	border-color: rgba(0, 0, 0, 0.0980392);
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.main{
	min-height: 100%;
}
footer {
	font-family: arial, sans-serif;
	font-size: 10pt;
	background-color: rgb(245, 245, 245);
	position: absolute;
	bottom: 0px;
	height: 35px;
	
	display: inline-block;

}

.left {
	text-align: left;
	padding: 24px;
}
.right{
	text-align: right;
}